<script>
        $("li").removeClass("is-active");
        $("#menu1").addClass("is-active");
</script>
@model List<Product>
<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Warehouse</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
         <tr id="@product.productId">
            <td class="pName">@product.productName</td>
            <td class="pSymbol">@product.productSymbol</td>
            <td class="pQuantity">@product.productQuantity</td>
            <td class="pWarehouse">@product.productMagName</td>
            <td><a class="delete is-medium"></a></td>
        </tr>
        }
    </tbody>
</table>


